body {
    background-color: #fff;
}
.checkbox input {
    margin-right: .5vw;
}
.dn {
    display: none;
}
@media (min-width: 1024px) {
    h1, .main-lead {
        white-space: pre-line;
    }
}
@media (min-width: 1280px) {
    p {
        white-space: pre-line;
    }
}
.header {
    min-height: 5vh;
    padding: 13px 1.7vw 0 1.7vw;
}
.header-logo {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}
.logo-text {
    line-height: 1;
    text-shadow: 1px 1px 2px #fff3, -1px -1px 2px #fff3, 1px -1px 2px #fff3, -1px 1px 2px #fff3;
}
@media (max-width: 768.98px) and (orientation: portrait) {
    .header {
        padding-top: 10px;
    }
}
@media (max-width: 767.98px) {
    .header-logo {
        align-items: flex-start;
    }
}
.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 320px;
    min-width: 320px;
}

@media (min-width: 769px) {
    .main-wrapper {
        flex-basis: 50%;
        height: auto;
        text-align: center;
        margin-left: auto;
    }
}
.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.main-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main .contain{
    display: flex;
    height: 95%;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.main-wrapper.done p{
    margin-bottom: 1rem;
}
.main-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-top: 3.9vh;
    margin-bottom: 3.5vh;
}
.main-buttons a {
    flex: 1 1 30%;
    min-width: 100px;
    max-width: 50%;
}
.main-buttons .btn {
    height: 7vh;
    min-height: 50px;
    border-radius: 1.5vh;
}
.main-buttons svg {
    height: 100%;
    /* margin-top: -10px; */
}
.main-buttons .btn-mail{
    background-color: #c9b493;
}
.btn-mail svg{
    width: 25%;
}
.main-buttons .btn-vk{
    background-color: #5c81b0;
}
.btn-vk svg{
    width: 27%;
}
.main-buttons .btn-tg{
    background-color: #038bcf;
}
.btn-tg svg{
    width: 29%;
}
.main-lead {
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 4vh;
}
.main-link {
    display: flex;
    align-items: flex-end;
    gap: 6%;
    margin-bottom: 2vh;
}
.main-link a {
    position: relative;
    display: flex;
    flex-basis: 10%;
    min-width: 55px;
}
.main-link-img {
    width: 100%;
}
.main-link-clr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .4s;
}
.main-link-clr:hover {
    opacity: 1;
}
.main h2 {
    margin-bottom: 2.5vh;
}
@media (min-width: 769px) {
    .main-wrapper {
        flex-basis: 50%;
        height: auto;
        margin-left: auto;
    }
    .main-wrapper span {
        color: #bfa883;
    }
    .main-buttons {
        width: 70%;
    }
    .contact-modal {
        height: 70vh;
        min-height: 500px;
    }
}

@media (max-width: 768.98px) {
    h1 {
        white-space: pre-line;
    }
    .main {
        background-color: #fffa;
    }
    .main-wrapper {
        padding-top: 50px;
    }
    .main-wrapper p {
        text-align: center;
    }
    .main-inner {
        line-height: 1.5;
    }
}

@media (max-width: 768.98px) and (orientation: portrait) {
    .main-inner {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-buttons {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .main-inner {
        text-align: center;
    }
}
.contact-modal li {
    margin-bottom: 7px;
}
@media (min-width: 769px) {
    .contact-modal {
        width: 75vw;
        min-width: 850px;
    }
}
.contact-modal-wrap {
    display: flex;
    width: 25vw;
    flex-shrink: 0;
    min-width: 320px;
	padding: 7vh 3.3vw;
}
.contact-modal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
	padding: 9vh 4vw 9vh 7.7vw;
}
@media (max-width: 768.98px) {
    .contact-modal-text, .contact-modal-form-subtitle, .contact-modal-form-text {
        display: none;
    }
    .contact-modal-form-title {
        padding-bottom: 4vh;
    }
}
@media (min-width: 769px) {
    .contact-modal-wrap {
        margin-top: -2vh;
        margin-bottom: -2vh;
        margin-right: 2vw;
        background-color: #eff0f2;
    }
}
@media (max-width: 768.98px) and (orientation: landscape) {
    .contact-modal-wrap {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-shrink: 0;
        min-width: 320px;
        padding: 7vh 3.3vw;
    }
    .contact-modal-form {
        display: flex;
        align-items: center;
        gap: 4vw;
    }
    .contact-modal-form-title {
        flex-basis: 40vw;
    }
    .contact-modal-inner {
        flex-shrink: 0;
        flex-grow: 2;
    }
}
.form-alt-action .btn {
    line-height: 2.2;
}
.contact-modal.active {
    display: flex;
}
.contact-modal-text .contact-modal-form-title {
    margin-left: 3vh;
    text-align: left;
}
.contact-modal-form .contact-modal-form-title {
    margin-bottom: 1vh;
}
.contact-modal-form-title {
    line-height: 1.1;
    margin-bottom: 5vh;
}
.contact-modal-form-subtitle {
    text-align: center;
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 41px;
    font-weight: 400;
    color: #c5b08f;
    margin-bottom: 1vh;
}
.contact-modal-form-text {
    text-align: center;
    margin-bottom: 1.4vh;
}
ul.contact-modal-item{
    margin-bottom: 0;
}
.contact-modal-item li{
    position: relative;
    list-style-type: none;
}
.contact-modal-item li:before{
    position: absolute;
    top: 0;
    left: -60px;
    content: url(../img/main/check.png);
    width: 5px;
    height: 5px;
}
.contact-modal-item img {
    width: 5px;
    height: 5px;
}
@media (min-width: 769px) {
    .strwf__radio-label .mb {
        display: none;
    }
}
@media (max-width: 768.98px) {
    .checkbox {
        text-align: center;
    }
    .strwf__radio-label {
        font-size: 0
    }
    .strwf__radio-label .dt {
        display: none;
    }
}
