body {
    background-color: #fff;
}
.checkbox input {
    margin-right: .5vw;
}
.dn {
    display: none;
}
@media (min-width: 1024px) {
    h1, .main-lead {
        white-space: pre-line;
    }
}
@media (min-width: 1280px) {
    p {
        white-space: pre-line;
    }
}
.header {
    min-height: 5vh;
    padding: 13px 1.7vw 0 1.7vw;
}
.header-logo {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}
.logo-text {
    line-height: 1;
    text-shadow: 1px 1px 2px #fff3, -1px -1px 2px #fff3, 1px -1px 2px #fff3, -1px 1px 2px #fff3;
}
.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    min-width: 320px;
}
.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.main-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main .contain{
    display: flex;
    height: 95%;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.main-wrapper p {
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
}
.main-wrapper span {
    color: #bfa883;
}
.main-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-top: 3.9vh;
    margin-bottom: 3.5vh;
}
.main-buttons a {
    flex: 1 1 30%;
    min-width: 100px;
    max-width: 50%;
}
.main-buttons .btn {
    height: 7vh;
    border-radius: 1.5vh;
}
.main-buttons svg {
    height: 100%;
    /* margin-top: -10px; */
}
.main-buttons .btn-mail{
    background-color: #c9b493;
}
.btn-mail svg{
    width: 25%;
}
.main-buttons .btn-vk{
    background-color: #5c81b0;
}
.btn-vk svg{
    width: 27%;
}
.main-buttons .btn-tg{
    background-color: #038bcf;
}
.btn-tg svg{
    width: 29%;
}
.main-lead {
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 4vh;
}
.main-link {
    display: flex;
    align-items: flex-end;
    gap: 6%;
    margin-bottom: 2vh;
}
.main-link a {
    position: relative;
    display: flex;
    flex-basis: 4.2vw;
}
.main-link-img {
    width: 100%;
}
.main-link-clr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .4s;
}
.main-link-clr:hover {
    opacity: 1;
}
.main h2 {
    margin-bottom: 2.5vh;
}
.main-wrapper.done p {
    margin-bottom: -1vh;
}
@media (min-width: 768px) {
    .main-wrapper {
        flex-basis: 50%;
        height: auto;
        margin-left: auto;
    }
    .main-buttons {
        width: 70%;
    }
    .contact-modal {
        height: 70vh;
        min-height: 500px;
    }
}
@media (max-width: 767.98px) {
    .main {
        background-color: #fffa;
    }
}
.contact-modal {
    width: 75vw;
    line-height: 3vh;
}
.contact-modal li {
    margin-bottom: 1.1vh;
}
.contact-modal-wrap {
    width: 37vw;
	padding: 7vh 3.3vw;
    margin-top: -2vh;
    margin-bottom: -2vh;
    margin-right: 2vw;
    background-color: #eff0f2;
}
.contact-modal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 9vh 4vw 9vh 7.7vw;
}
.form-alt-action .btn {
    line-height: 2.2;
}
.contact-modal.active {
    display: flex;
}
.contact-modal-text .contact-modal-form-title {
    margin-left: 3vh;
    text-align: left;
}
.contact-modal-form .contact-modal-form-title {
    margin-bottom: 1vh;
}
.contact-modal-form-title {
    line-height: 1.1;
    margin-bottom: 5vh;
}
.contact-modal-form-subtitle {
    text-align: center;
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 41px;
    font-weight: 400;
    color: #c5b08f;
    margin-bottom: 1vh;
}
.contact-modal-form-text {
    text-align: center;
    margin-bottom: 1.4vh;
}
ul.contact-modal-item{
    margin-bottom: 0;
}
.contact-modal-item li{
    position: relative;
    list-style-type: none;
}
.contact-modal-item li:before{
    position: absolute;
    top: 0;
    left: -60px;
    content: url(../img/main/check.png);
    width: 5px;
    height: 5px;
}
.contact-modal-item img {
    width: 5px;
    height: 5px;
}
