body {
    background-color: #fff;
}
.checkbox input {
    margin-right: .5vw;
}
.dn {
    display: none;
}
@media (min-width: 1024px) {
    h1, .main-lead {
        white-space: pre-line;
    }
}
@media (min-width: 1280px) {
    p {
        white-space: pre-line;
    }
}
.header {
    min-height: 5vh;
    padding: 13px 1.7vw 0 1.7vw;
}
.header-logo {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}
.logo-text {
    line-height: 1;
    text-shadow: 1px 1px 2px #fff3, -1px -1px 2px #fff3, 1px -1px 2px #fff3, -1px 1px 2px #fff3;
}
@media (max-width: 768.98px) and (orientation: portrait) {
    .header {
        padding-top: 10px;
    }
}
@media (max-width: 768.98px) and (orientation: landscape) {
    .header-logo {
        align-items: flex-start;
    }
}
.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 320px;
    min-width: 320px;
}

@media (min-width: 769px) {
    .main-wrapper {
        flex-basis: 50%;
        height: auto;
        margin-left: auto;
    }
}
.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.main-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main .contain{
    display: flex;
    height: 95%;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.main-wrapper.done p{
    margin-bottom: 1rem;
}
.main-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-top: 3.9vh;
    margin-bottom: 3.5vh;
}
.main-buttons a {
    flex: 1 1 30%;
    min-width: 100px;
    max-width: 50%;
}
.main-buttons .btn {
    min-height: 50px;
    max-height: 70px;
    border-radius: 1vh;
}
@supports (aspect-ratio: 5 / 1) {
    .main-buttons .btn {
        aspect-ratio: 5 / 1
    }
}
@supports not (aspect-ratio: 5 / 1) {
    .main-buttons .btn {
        height: 55px
    }
}
.main-buttons svg {
    height: 100%;
    /* margin-top: -10px; */
}
.main-buttons .btn-mail{
    background-color: #c9b493;
}
.btn-mail svg{
    width: 25%;
}
.main-buttons .btn-vk{
    background-color: #5c81b0;
}
.btn-vk svg{
    width: 27%;
}
.main-buttons .btn-tg{
    background-color: #038bcf;
}
.btn-tg svg{
    width: 29%;
}
.main-lead {
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 4vh;
}
.main-link {
    display: flex;
    align-items: flex-end;
    gap: 6%;
    margin-bottom: 2vh;
}
.main-link a {
    position: relative;
    display: flex;
    flex-basis: 10%;
    min-width: 55px;
}
.main-link-img {
    width: 100%;
}
.main-link-clr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .4s;
}
.main-link-clr:hover {
    opacity: 1;
}
.main h2 {
    margin-bottom: 2.5vh;
}
@media (min-width: 769px) {
    .main-wrapper {
        flex-basis: 50%;
        height: auto;
        margin-left: auto;
    }
    .main-wrapper span {
        color: #bfa883;
    }
    .main-buttons {
        width: 70%;
    }
    .contact-modal {
        height: 70vh;
        min-height: 500px;
    }
}

@media (max-width: 768.98px) {
    h1 {
        white-space: pre-line;
    }
    .main {
        background-color: #fffa;
    }
    .main-wrapper {
        text-align: center;
        padding-top: 50px;
    }
    .main-wrapper p {
        text-align: center;
    }
    .main-inner {
        line-height: 1.5;
        text-align: center;
    }
    .main-link {
        justify-content: center;
    }
}
@media (max-width: 768.98px) and (min-height: 590px) {
    .main-inner {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768.98px) and (orientation: portrait) {
    .main-buttons {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}
.contact-modal li {
    margin-bottom: 7px;
}
@media (min-width: 769px) {
    .contact-modal {
        width: 75vw;
        min-width: 850px;
    }
    .contact-modal-close {
        top: -40px;
        right: 10px;
    }
}
@media (min-width: 968px) {
    .contact-modal {
        width: 75vw;
        min-width: 850px;
    }
    .contact-modal-close {
        top: -18px;
        right: -18px;
    }
}
.contact-modal-close {
	width: 16px;
    height: 17px;
    background: url('../img/design/ico/close-dark.svg') center no-repeat transparent;
    z-index: 111;
}
.contact-modal-wrap {
    display: flex;
    width: 25vw;
    flex-shrink: 0;
    min-width: 320px;
	padding: 7vh 3.3vw;
}
.contact-modal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
	padding: 9vh 4vw 9vh 7.7vw;
}
@media (max-width: 768.98px) {
    .contact-modal-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        flex-shrink: 0;
        min-width: 320px;
    }
    .contact-modal-text, .contact-modal-form-subtitle, .contact-modal-form-text {
        display: none;
    }
    .contact-modal-form-title {
        padding-bottom: 4vh;
    }
}
@media (max-width: 768.98px) and (orientation: portrait) {
    .contact-modal-form {
        max-width: 450px;
    }
}
@media (min-width: 769px) {
    .contact-modal-wrap {
        margin-top: -2vh;
        margin-bottom: -2vh;
        margin-right: 2vw;
        background-color: #eff0f2;
    }
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .25);
        backdrop-filter: blur(9px);
        z-index: 100;
    }
}
@media (max-width: 768.98px) and (orientation: landscape) {
    .contact-modal-wrap {
        padding: 7vh 3.3vw;
    }
    .contact-modal-form {
        display: flex;
        align-items: center;
        gap: 4vw;
    }
    .contact-modal-form-title {
        flex-basis: 40vw;
    }
    .contact-modal-inner {
        flex-shrink: 0;
        flex-grow: 2;
    }
}
.form-alt-action .btn {
    line-height: 2.2;
}
.contact-modal {
    opacity: 0;
}

.active .contact-modal {
    display: flex;
    opacity: 1;
    animation: slidein .5s ease 1;
}
@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-wrapper {
    display: none;
}
.active.modal-wrapper {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.contact-modal-text .contact-modal-form-title {
    margin-left: 3vh;
    text-align: left;
}
.contact-modal-form .contact-modal-form-title {
    margin-bottom: 1vh;
}
.contact-modal-form-title {
    line-height: 1.1;
    margin-bottom: 5vh;
}
.contact-modal-form-subtitle {
    text-align: center;
    font-family: Oswald;
    font-size: max(1.5vw, 27px);
    line-height: 41px;
    font-weight: 400;
    color: #c5b08f;
    margin-bottom: 1vh;
}
.contact-modal-form-text {
    text-align: center;
    margin-bottom: 1.4vh;
}
ul.contact-modal-item{
    margin-bottom: 0;
}
.contact-modal-item li{
    position: relative;
    list-style-type: none;
}
.contact-modal-item li:before{
    position: absolute;
    top: 0;
    left: -60px;
    content: url(../img/main/check.png);
    width: 5px;
    height: 5px;
}
.contact-modal-item img {
    width: 5px;
    height: 5px;
}
@media (min-width: 769px) {
    .strwf__radio-label .mb {
        display: none;
    }
}
@media (max-width: 768.98px) {
    .checkbox {
        text-align: center;
    }
    .strwf__radio-label {
        font-size: 0
    }
    .strwf__radio-label .dt {
        display: none;
    }
}

.contact-modal-form-form a {
    color: #bfa883 !important;
}

.jcwf_container .strwf__input-wrapper {
    position: relative;
    margin-bottom: 7px !important;
}
@media (max-width: 767px) {
.jcwf_container .strwf__input-wrapper {
    position: relative;
    margin-bottom: 5px !important;
}
}
.jcwf_container .strwf__radio {
    margin: 0 15px 0 0 !important;
}

input.strwf__input {
    font-family: 'Open Sans', sans-serif !important;
	font-size: max(0.81vw, 15.5px) !important;
    font-weight: 300 !important;
    line-height: 1.7 !important;
    padding: 0 22px !important;
    text-align: left !important;
    color: #727379 !important;
    border: 1px dotted #c6c6c6 !important;
    background: rgba(255, 255, 255, .6) !important;
}
.strwf__radio-wrapper a {
    font-family: 'Open Sans', sans-serif !important;
	font-size: max(0.82vw, 15.5px) !important;
    font-weight: 300 !important;
}
@media (max-width: 767px) {
input.strwf__input 	{ 
	font-size: 16px !important;
    }
.strwf__radio-wrapper a {
	font-size: 16px !important;
	}
}
@media (max-width: 1023px) {
    .page-promo-text-form-desktop {
        display: none;
    }
}
.page-promo-text-form-mobile {
    display: none;
    margin: auto;
}
@media (max-width: 1023px) {
    .page-promo-text-form-mobile {
        display: block;
    }
}
button.strwf_form-button {
    font-family: 'Oswald', sans-serif !important;
    font-size: max(1.27vw, 23px) !important;
    font-weight: 400 !important;
    line-height: 1.62 !important;
    transition: .5s;
    text-transform: uppercase !important;
    color: #fff !important;
    background-color: #c9b493 !important;
}
button.strwf_form-button::after {
    display: none;
}
body form[id='600f0b269fe18633ce000039'] .strwf_form-button:hover {
    opacity: 1 !important;
    color: #fff !important;
    background-color: #1a1d34 !important;
	transition: .5s;
}
body form[id='60324b0b9fe1866b36000039'] .strwf_form-button:hover {
    opacity: 1 !important;
    color: #fff !important;
    background-color: #1a1d34 !important;
	transition: .5s;
}
@media (max-width: 1279px) {
    button.strwf_form-button {
        font-size: max(1.27vw, 22px) !important;
	}
}
@media (max-width: 1023px) {
    button.strwf_form-button {
        font-size: 23px !important;
}
	}
button.strwf_form-button:after {
    position: relative;
    top: -5px;
    margin-left: 5px;
    content: url('../img/design/ico/arrow-button.svg');
}
@media (max-width: 1023px) {
    button.strwf_form-button:after {
        display: none;
    }
}

.jcwf_container.str-bw_text.widget-wrapper,
.jcwf_container.strwf__form form {
    padding: 0 !important;
}
